# SPDX-License-Identifier: Apache-2.0

# Enable MPU
#CONFIG_ARM_MPU=y

# Enable HW stack protection
#CONFIG_HW_STACK_PROTECTION=y

#CONFIG_SERIAL=n

# console
#CONFIG_CONSOLE=n
#CONFIG_UART_CONSOLE=n

# enable GPIO
#CONFIG_GPIO=y

#CONFIG_ARM=y

#CONFIG_SOC_SERIES_STM32F4X=y
#CONFIG_SOC_STM32F412CX=y
#CONFIG_CLOCK_CONTROL=y

#CONFIG_SOC_SERIES_STM32F4X=y
#CONFIG_SOC_STM32F412CX=y  # вместо STM32F412XE
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
# Добавьте эти строки для исправления архитектуры
#CONFIG_ARM=y
#CONFIG_CPU_CORTEX_M4=y