&rtc {
	status = "disabled";
};

&clk_hse {
	/delete-property/ hse-bypass;
	clock-frequency = <DT_FREQ_M(8)>; /* STLink 8MHz clock */
	status = "okay";
};

&pll {
	div-m = <4>;
	mul-n = <100>;
	div-p = <2>;
	div-q = <4>;
	clocks = <&clk_hse>;
	status = "okay";
};

/* PLLI2S для 48 МГц */
&plli2s {
	div-m = <6>;      /* PLLI2SM */
	mul-n = <144>;    /* PLLI2SN -> VCO 384 MHz */
	div-q = <4>;      /* PLLI2SQ -> 48 MHz */
	div-r = <2>;      /* PLLI2SR -> 100 MHz */
	status = "okay";
};

/* Подать 48 МГц на USB из PLLI2S.Q */
//&clk48 {
//	status = "okay";
//	clocks = <&rcc STM32_SRC_PLLI2S_Q CK48M_SEL(1)>;
//};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(100)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <1>;
};

&usbotg_fs {
	status = "okay";
};

&zephyr_udc0 {                     /* это ваш FS-контроллер usb@50000000 */
status = "okay";

	cdc_acm_uart0: cdc_acm_uart0 { /* ВАЖНО: дочерняя нода контроллера */
	compatible = "zephyr,cdc-acm-uart";
		status = "okay";
		label = "CDC_ACM_0";
		/* опционально:
		 * hw-flow-control;   // если хотите CTS/RTS (обычно не нужно)
		 */
	};
};

&spi1 {
	pinctrl-0 = <&spi1_sck_pb3 &spi1_miso_pb4 &spi1_mosi_pb5>;
	pinctrl-names = "default";
	status = "okay";
	cs-gpios = <&gpioa 15 GPIO_ACTIVE_LOW>;  // CS для Flash

	/* --- SPI NOR Flash MX25R6435F (64 Mbit = 8 MiB) --- */
	spi_flash: spi-nor@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		status = "okay";
		label = "SPI_FLASH";
		spi-max-frequency = <8000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			/* Раздел под LittleFS (пример: 8 MiB) */
			storage_lfs_partition: partition@0 {
				label = "storage_lfs";
				reg = <0x00000000 0x00800000>; /* 8 MiB */
			};

			/* Раздел под NVS (пример: 8 MiB) */
			storage_nvs_partition: partition@800000 {
				label = "storage_nvs";
				reg = <0x00800000 0x00800000>; /* 8 MiB */
			};
		};
	};
};

&spi2 {
	// W5500 connected over SPI
	pinctrl-0 = <&spi2_sck_pb13 &spi2_miso_pb14 &spi2_mosi_pb15>;
	pinctrl-names = "default";
	status = "okay";
	cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;  // CS для W5500

	w5500: w5500@0 {
		compatible = "wiznet,w5500";
		label = "w5500";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <8000000>;
		int-gpios = <&gpioa 10 GPIO_ACTIVE_LOW>;  // PA10
		reset-gpios = <&gpioa 8 GPIO_ACTIVE_LOW>; // PA8
		//local-mac-address = [00 04 A3 12 34 56];
		zephyr,random-mac-address;
	};
};

/ {
	fstab {
		compatible = "zephyr,fstab";
		lfs1: lfs1 {
			compatible = "zephyr,fstab,littlefs";
			read-size = <1>;
			prog-size = <1>;
			cache-size = <256>;
			lookahead-size = <32>;
			block-cycles = <4096>;
			partition = <&storage_lfs_partition>;
			mount-point = "/lfs1";
		};
	};
	gpio_keys {
		compatible = "gpio-keys";
		status = "okay";

		in1: in1 {
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
			label = "INPUT1";
		};

		in2: in2 {
			gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
			label = "INPUT2";
		};

		in3: in3 {
			gpios = <&gpioa 2 GPIO_ACTIVE_HIGH>;
			label = "INPUT3";
		};
	};

	gpio_relays {
		compatible = "gpio-leds";
		status = "okay";

		relay1: relay1 {
			gpios = <&gpioa 5 GPIO_ACTIVE_LOW>;  // PA5
			label = "Relay 1";
		};

		relay2: relay2 {
			gpios = <&gpioa 6 GPIO_ACTIVE_LOW>;  // PA6
			label = "Relay 2";
		};

		relay3: relay3 {
			gpios = <&gpioa 7 GPIO_ACTIVE_LOW>;  // PA7
			label = "Relay 3";
		};
	};

	chosen {
		zephyr,udc = &zephyr_udc0;          /* ваш FS контроллер */
		zephyr,console = &cdc_acm_uart0;    /* консоль через USB */
		zephyr,shell-uart = &cdc_acm_uart0; /* если используете shell */
		zephyr,uart-console = &cdc_acm_uart0;
		zephyr,log-console = &cdc_acm_uart0;
	};

	/* Нода требуемая для USB_CDC_ACM */
//	cdc_acm_uart0: cdc_acm_uart0 {
//		compatible = "zephyr,cdc-acm-uart";
//		status = "okay";
//	};

};

&{/chosen} {
	zephyr,settings-partition = &storage_nvs_partition;
};





